#home {
  background-image:url("../assets/world.jpeg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

#home nav {
  margin: 0 auto;
  width: 700px;
  padding-top: 80px;
}

#home nav ul {
  overflow: hidden;
}

#home nav ul li {
  width: 25%;
}

#home nav a {
  padding: 16px;
  padding-right: 30px;
  display: table-cell;
}

#home nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 999;
  padding: 0;
  transition: background-color .8s;

}

#home nav.fixed ul {
    max-width: 700px;
  margin: 0 auto;
}

.overlay {
  background-color: rgba(4,14,22,.83);
  height: 100%;
  width: 100%;
  padding-bottom: 80px;
}

#about::before {
  height: 0px;
  width: 0px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #131c23;
  margin: 0 auto;
  content: "";
  display: block;
}

#about .info {
  display: flex;
  flex-direction: row;
  background-color: #81724A;
  font-size: 14px;
}

#about h2 {
  color: #0d2435;
  font-family: Courier;
  text-align: center;
  color: #00FFCC;
  background-color: #000000;
}

#about h2::after {
  border-bottom: 2px dashed #918D8D;
}

#about p {
  line-height: 270%;
  font-size: 15px;
  text-align: justify;
  color: #2AEC04;
  background-color: #6C000F;
}

/* ELEMENTS */
.noir {
  display: block;
  background-color: black;
  padding: 18px;
  border: 3px solid white;
}

.vertical-list li {
  float: left;
}

.blue-border {
  border: 2px solid #114190;
}

.magenta-border {
  border: 2px solid #e11a61;
}

.purple-border {
  border: 2px solid #9d1098;
}

.red-border {
  border: 2px solid #9d102b;
}

/* END OF ELEMENTS */

.overflow {
  overflow: hidden;
}



#skill-set {
  margin-top: 80px;
  padding-bottom: 80px;
}

#skill-set ul {
  overflow: hidden;
}

#web-development-skills {
  background-color: #114190;
}


#automation-skills {
  background-color: #e11a61;
}

#misc-skills {
  background-color: #9d1098;
}

.skills {
  color: white;
}

.skills li {
  padding: 20px;
}

#portfolio {
  background-color: #423a3a;
  padding-bottom: 80px;
}

#portfolio h2 {
  color: #F0F0F0;
  margin-bottom: 140px;
}

#portfolio h2:after {
  border-bottom: 2px dashed #b4b4b4;
}

#portfolio .row {
  margin: 0px;
  box-sizing: border-box;
  padding: 0 60px;
}

#portfolio .heading {
  color: #F0F0F0;
  padding: 15px;
  text-align: center;
  position: absolute;
  font-size: 18px;
  letter-spacing: 2px;
}

#portfolio .heading span {
  color: #635757;
  display: block;
  margin: 40px 0px;
  font-size: 200%;
}

#portfolio .description {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 15px;
}

#portfolio .description > * {
  display: none;
  font-size: 72%;
}

#portfolio p {
  color: #F0F0F0;
  /*display: none;*/
  margin-bottom: 30px;
  line-height: 230%;
}

#portfolio p, .tools {
  width: 100%;
}

.description span {
  margin-left: 10px;
}

.description .tools {
  margin-top: 20px;
  overflow: hidden;
}

.description .tools li {
  margin-top: 5px;
  background-color: #114190;
  margin-right: 10px;
  padding: 10px;
  color: #F0F0F0;
}

#portfolio div section {
  cursor: pointer;
}

#portfolio div:nth-child(odd) section {
  background-color: #483F3F;
  padding: 10px;
  border: 3px solid #4D4343;
}

#portfolio div:nth-child(even) section {
  background-color: #3D3636;
  padding: 10px;
  border: 3px solid #393333;
}

#portfolio img {
  width: 100%;
}

#portfolio section {
  height: 100%;
  margin-bottom: 20px;
}

#portfolio .overlay {
  position: relative;
  padding-bottom: 0px;
  min-height: 550px;
  overflow: auto;
}

#portfolio .description h4 {
  color: white;
}

#portfolio .heading {
  position: relative;
  margin: 0 auto;
}

#portfolio section {
  width: 50%;
  float: left;
}

#portfolio section:hover .overlay img {
  opacity: 0;
  transition: opacity .32s;
}

#portfolio section:hover .description {
  top: 140px;
  transition: top .5s;
}

#portfolio section:hover .overlay .heading span {
   -webkit-transform: rotate(180deg);
   position: relative;
   top: -80px;
   left: -30px;
   color: rgba(4,14,22,.83);;
}


#portfolio section:hover .overlay .description > * {
  display: block;
}

#portfolio section:hover .overlay .heading {
  position: absolute;
  top: -60px;
  transition: top .9s;
}

.jumbotron {
  width: 80%;
  background-color: #ACB2FD;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  overflow: hidden;
}

.wrapper div {
  padding: 15px;
}


#one #two #one2 {
  padding: 15px;
}

#one {
  background-color: #ACB2FD;
  float: left;
  width: 30%;
}

#two {
  background-color: #ACB2FD;
  float: left;
  width: 70%;
}

.author {
  color: #00FFCC;
  background-color: #000000;
  font-family: Courier;
  font-size: 70;
}

#greeting {
  color: #00FFCC;
  background-color: #000000;
  font-family: Courier;
  font-size: 70;
}
p {
  color: #000066;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 70;
}

body > div {
		width: 500px;
		margin: 50px auto;
		text-align: center;
    font-size: 20px;
    font-family: Courier;
	}

	figure {
		margin: 0;
	}

	.container {
		width: 600px;
		height: 300px;
		text-align: left;
		margin: 60px auto;
		-webkit-perspective: 1000px;
		-webkit-perspective-origin: 50% -25%;
	}

		.carousel {
			-webkit-transform-style: preserve-3d;
			-webkit-transform: translateZ(-540px);
			position: relative;
			margin: 0;
			width: 400px;
			height: 500px;
			-webkit-transition: 1s;
		}

			.carousel img {
				position: absolute;
				border: 15px solid rgba(0, 0, 0, .8);
				opacity: .5;
				-webkit-transition: 1s;
        width: 300px;
        height: 500px;
        background:#ccc;
			}


				.carousel img:nth-child(1) { -webkit-transform: translateZ(540px) scale(.8); }
				.carousel img:nth-child(2) { -webkit-transform: rotateY(45deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(3) { -webkit-transform: rotateY(90deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(4) { -webkit-transform: rotateY(135deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(5) { -webkit-transform: rotateY(180deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(6) { -webkit-transform: rotateY(225deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(7) { -webkit-transform: rotateY(270deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(8) { -webkit-transform: rotateY(315deg) translateZ(540px) scale(.8); }

	label {
		cursor: pointer;
		background: #E99335;
		display: inline-block;
		border-radius: 50%;
		width: 30px;
		padding-top: 7px;
		height: 23px;
		font: .9em Courier;
	}

	label:hover {
		background: #ddd;
	}

	input {
		position: absolute;
		left: -9999px;
	}

	input:checked + label {
		font-weight: bold;
		background: #ddd;
	}

		input[value="1"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px); }
		input[value="2"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-45deg); }
		input[value="3"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-90deg); }
		input[value="4"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-135deg); }
		input[value="5"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-180deg); }
		input[value="6"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-225deg); }
		input[value="7"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-270deg); }
		input[value="8"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-315deg); }

		input[value="1"]:checked ~ .container .carousel img:nth-child(1) { -webkit-transform: translateZ(540px) scale(1); opacity: 1; }
		input[value="2"]:checked ~ .container .carousel img:nth-child(2) { -webkit-transform: rotateY(45deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="3"]:checked ~ .container .carousel img:nth-child(3) { -webkit-transform: rotateY(90deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="4"]:checked ~ .container .carousel img:nth-child(4) { -webkit-transform: rotateY(135deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="5"]:checked ~ .container .carousel img:nth-child(5) { -webkit-transform: rotateY(180deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="6"]:checked ~ .container .carousel img:nth-child(6) { -webkit-transform: rotateY(225deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="7"]:checked ~ .container .carousel img:nth-child(7) { -webkit-transform: rotateY(270deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="8"]:checked ~ .container .carousel img:nth-child(8) { -webkit-transform: rotateY(315deg) translateZ(540px) scale(1); opacity: 1; }


    li {
    	list-style: none;
    }

    a {
    	color: white;
    }

    a:hover, a:focus {
    	color: white;
    	text-decoration: none;
    }


    h1 {
    	color: white;
    	text-align: center;
    	margin-top: 4%;
    	font-size: 150%;
    }


    h1 > small {
    	display: block;
    	color: white;
    }

    h2 {
    	font-size: 245%;
    	margin-top: 140px;
    }

    h2:after {
    	display: block;
    	margin: 42px 0;
    	content: "";
    }

    h3 {
    	font-weight: bold;
    }

    h4 {
    	font-size: 92%;
    }

    h6 {
    	color: #F0F0F0;
    }


    h1 .logo {
    	font-size: 230%;
    	font-family: Courier;
    	width: 200px;
    	margin-left: -20px;
    }



    h1 {
    	font-family: helvetica;
    	font-weight: normal;
    	text-align: center;
    	color: #c0c0c0;
    	padding-top: 50px;
    	padding-bottom: 10px;
    	width: 375px;
    	margin: 0 auto;
    	border-bottom: 3px solid #f3f3f3;
    }

    .containers {
    	width: 520px;
    	margin: 20px auto;
    }

    .menu_btn {
    	font-family: helvetica;
    	width: 125px;
    	float: left;
    	margin-left: 5px;
    	&:first-child .dd_btn {
    		background: #f1c40f;
    		&:active {
    			background: #f39c12;
    		}
    	}
    	&:nth-child(2) .dd_btn {
    		background: #2ecc71;
    		&:active {
    			background: #27ae60;
    		}
    	}
    	&:nth-child(3) .dd_btn {
    		background: #3498db;
    		&:active {
    			background: #2980b9;
    		}
    	}
    	&:nth-child(4) .dd_btn {
    		background: #e74c3c;
    		&:active {
    			background: #c0392b;
    		}
    	}
    	.dd_btn {
    		height: 50px;
    		width: 125px;
    		color: #fff;
    		font-size: 18px;
    		border: 0px;
    		z-index: 3;
    		float: left;
    		cursor: pointer;
      	background-color:#E19E19;
    		&:active {
      		background-color:#946810;
    		}
    		&:focus {
    			outline: none;
    		}
    	}
    	.dd {
    		position: absolute;
    		width: 255px;
    		margin-top: 55px;
    		background: white;
    		text-align: center;
    		a {
    			width: 100%;
    			display: block;
    			height: 100%;
    			padding: 15px 0 15px 0;
    			text-decoration: none;
    			color: #666;
    			background: #f9f9f9;
    			&:hover {
    				background: #ecf0f1;
    			}
    			&:active {
    				background-color: #bdc3c7;
    				color: #fff;
    			}
    		}
    	}
    }

.cal{ display:inline-block; background:#ffe; color:#555; font-size:6px; text-align:center; transform:scale(1); transition:all 0.2s linear;}
.cal:hover{ transform:scale(2.5);transition:all 0.4s linear;}
.cal caption{ background:#d44; color:#eee; font-size:15px;}
.cal th{ color:#aaa;line-height:200%;}
.cal th:first-child{ color:#f00;}
.cal th:last-child{ color:#04d;}
.cal td{ padding:0 2px; line-height:100%;}
