.jumbotron {
  width: 80%;
  background-color: #ACB2FD;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  overflow: hidden;
}

.wrapper div {
  padding: 15px;
}


#one #two #one2 {
  padding: 15px;
}

#one {
  background-color: #ACB2FD;
  float: left;
  width: 30%;
}

#two {
  background-color: #ACB2FD;
  float: left;
  width: 70%;
}

.author {
  color: #00FFCC;
  background-color: #000000;
  font-family: Courier;
  font-size: 70;
}

#greeting {
  color: #00FFCC;
  background-color: #000000;
  font-family: Courier;
  font-size: 70;
}
p {
  color: #000066;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 70;
}

body > div {
		width: 500px;
		margin: 50px auto;
		text-align: center;
    font-size: 20px;
    font-family: Courier;
	}

	figure {
		margin: 0;
	}

	.container {
		width: 500px;
		height: 300px;
		text-align: left;
		margin: 60px auto;
		-webkit-perspective: 1000px;
		-webkit-perspective-origin: 50% -25%;
	}

		.carousel {
			-webkit-transform-style: preserve-3d;
			-webkit-transform: translateZ(-540px);
			position: relative;
			margin: 0;
			width: 500px;
			height: 300px;
			-webkit-transition: 1s;
		}

			.carousel img {
				position: absolute;
				border: 15px solid rgba(0, 0, 0, .8);
				opacity: .5;
				-webkit-transition: 1s;
        width: 300px;
        height: 500px;
        background:#ccc;
			}


				.carousel img:nth-child(1) { -webkit-transform: translateZ(540px) scale(.8); }
				.carousel img:nth-child(2) { -webkit-transform: rotateY(45deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(3) { -webkit-transform: rotateY(90deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(4) { -webkit-transform: rotateY(135deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(5) { -webkit-transform: rotateY(180deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(6) { -webkit-transform: rotateY(225deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(7) { -webkit-transform: rotateY(270deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(8) { -webkit-transform: rotateY(315deg) translateZ(540px) scale(.8); }

	label {
		cursor: pointer;
		background: #E99335;
		display: inline-block;
		border-radius: 50%;
		width: 30px;
		padding-top: 7px;
		height: 23px;
		font: .9em Courier;
	}

	label:hover {
		background: #ddd;
	}

	input {
		position: absolute;
		left: -9999px;
	}

	input:checked + label {
		font-weight: bold;
		background: #ddd;
	}

		input[value="1"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px); }
		input[value="2"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-45deg); }
		input[value="3"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-90deg); }
		input[value="4"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-135deg); }
		input[value="5"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-180deg); }
		input[value="6"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-225deg); }
		input[value="7"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-270deg); }
		input[value="8"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-315deg); }

		input[value="1"]:checked ~ .container .carousel img:nth-child(1) { -webkit-transform: translateZ(540px) scale(1); opacity: 1; }
		input[value="2"]:checked ~ .container .carousel img:nth-child(2) { -webkit-transform: rotateY(45deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="3"]:checked ~ .container .carousel img:nth-child(3) { -webkit-transform: rotateY(90deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="4"]:checked ~ .container .carousel img:nth-child(4) { -webkit-transform: rotateY(135deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="5"]:checked ~ .container .carousel img:nth-child(5) { -webkit-transform: rotateY(180deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="6"]:checked ~ .container .carousel img:nth-child(6) { -webkit-transform: rotateY(225deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="7"]:checked ~ .container .carousel img:nth-child(7) { -webkit-transform: rotateY(270deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="8"]:checked ~ .container .carousel img:nth-child(8) { -webkit-transform: rotateY(315deg) translateZ(540px) scale(1); opacity: 1; }


    li {
    	list-style: none;
    }

    a {
    	color: white;
    }

    a:hover, a:focus {
    	color: white;
    	text-decoration: none;
    }


    h1 {
    	color: white;
    	text-align: center;
    	margin-top: 4%;
    	font-size: 150%;
    }


    h1 > small {
    	display: block;
    	color: white;
    }

    h2 {
    	font-size: 245%;
    	margin-top: 140px;
    }

    h2:after {
    	display: block;
    	margin: 42px 0;
    	content: "";
    }

    h3 {
    	font-weight: bold;
    }

    h4 {
    	font-size: 92%;
    }

    h6 {
    	color: #F0F0F0;
    }


    h1 .logo {
    	font-size: 230%;
    	font-family: Courier;
    	width: 200px;
    	margin-left: -20px;
    }

    /* ELEMENTS */
    .noir {
    	display: block;
    	background-color: black;
    	padding: 18px;
    	border: 3px solid white;
    }

    .vertical-list li {
    	float: left;
    }

    .blue-border {
    	border: 2px solid #114190;
    }

    .magenta-border {
    	border: 2px solid #e11a61;
    }

    .purple-border {
    	border: 2px solid #9d1098;
    }

    .red-border {
    	border: 2px solid #9d102b;
    }

    /* END OF ELEMENTS */

    .overflow {
    	overflow: hidden;
    }

    .overlay {
    	background-color: rgba(4,14,22,.83);
    	height: 100%;
    	width: 100%;
    	padding-bottom: 80px;
    }

    #home {
    	background: url("https://static.pexels.com/photos/232/apple-iphone-books-desk-large.jpg") no-repeat;
    	width: 100%;
    	background-size: cover;
    }

    #home nav {
    	margin: 0 auto;
    	width: 700px;
    	padding-top: 80px;
    }

    #home nav ul {
    	overflow: hidden;
    }

    #home nav ul li {
    	width: 25%;
    }

    #home nav a {
    	padding: 16px;
    	padding-right: 30px;
    	display: table-cell;
    }

    #home nav.fixed {
    	position: fixed;
    	top: 0;
    	left: 0;
    	width: 100%;
    	background-color: black;
    	z-index: 999;
    	padding: 0;
    	transition: background-color .8s;

    }

    #home nav.fixed ul {
        max-width: 700px;
    	margin: 0 auto;
    }


    #about::before {
    	height: 0px;
    	width: 0px;
    	border-left: 30px solid transparent;
    	border-right: 30px solid transparent;
    	border-top: 30px solid #131c23;
    	margin: 0 auto;
    	content: "";
    	display: block;
    }

    #about .info {
    	display: flex;
    	flex-direction: row;
    }

    #about h2 {
    	color: #0d2435;
    }

    #about h2::after {
    	border-bottom: 2px dashed #918D8D;
    }

    #about .info p {
    	line-height: 270%;
    }

    #about .signature {
    	font-family: 'Brush Script MT', cursive;
    	font-size: 150%;
    	float: right;
    	color: #0d2435;
    	opacity: .9;
    }

    #skill-set {
    	margin-top: 80px;
    	padding-bottom: 80px;
    }

    #skill-set ul {
    	overflow: hidden;
    }

    #web-development-skills {
    	background-color: #114190;
    }


    #automation-skills {
    	background-color: #e11a61;
    }

    #misc-skills {
    	background-color: #9d1098;
    }

    .skills {
    	color: white;
    }

    .skills li {
    	padding: 20px;
    }

    #portfolio {
    	background-color: #423a3a;
    	padding-bottom: 80px;
    }

    #portfolio h2 {
    	color: #F0F0F0;
    	margin-bottom: 140px;
    }

    #portfolio h2:after {
    	border-bottom: 2px dashed #b4b4b4;
    }

    #portfolio .row {
    	margin: 0px;
    	box-sizing: border-box;
    	padding: 0 60px;
    }

    #portfolio .heading {
    	color: #F0F0F0;
    	padding: 15px;
    	text-align: center;
    	position: absolute;
      font-size: 18px;
      letter-spacing: 2px;
    }

    #portfolio .heading span {
    	color: #635757;
    	display: block;
    	margin: 40px 0px;
    	font-size: 200%;
    }

    #portfolio .description {
    	position: absolute;
    	top: 0px;
    	left: 0px;
    	padding: 15px;
    }

    #portfolio .description > * {
    	display: none;
    	font-size: 72%;
    }

    #portfolio p {
    	color: #F0F0F0;
    	/*display: none;*/
    	margin-bottom: 30px;
    	line-height: 230%;
    }

    #portfolio p, .tools {
    	width: 100%;
    }

    .description span {
    	margin-left: 10px;
    }

    .description .tools {
    	margin-top: 20px;
    	overflow: hidden;
    }

    .description .tools li {
    	margin-top: 5px;
    	background-color: #114190;
    	margin-right: 10px;
    	padding: 10px;
    	color: #F0F0F0;
    }

    #portfolio div section {
    	cursor: pointer;
    }

    #portfolio div:nth-child(odd) section {
    	background-color: #483F3F;
    	padding: 10px;
    	border: 3px solid #4D4343;
    }

    #portfolio div:nth-child(even) section {
    	background-color: #3D3636;
    	padding: 10px;
    	border: 3px solid #393333;
    }

    #portfolio img {
    	width: 100%;
    }

    #portfolio section {
    	height: 100%;
    	margin-bottom: 20px;
    }

    #portfolio .overlay {
    	position: relative;
    	padding-bottom: 0px;
    	min-height: 550px;
      overflow: auto;
    }

    #portfolio .description h4 {
    	color: white;
    }

    #portfolio .heading {
    	position: relative;
    	margin: 0 auto;
    }

    #portfolio section {
    	width: 50%;
    	float: left;
    }

    #portfolio section:hover .overlay img {
    	opacity: 0;
    	transition: opacity .32s;
    }

    #portfolio section:hover .description {
    	top: 140px;
    	transition: top .5s;
    }

    #portfolio section:hover .overlay .heading span {
    	 -webkit-transform: rotate(180deg);
    	 position: relative;
    	 top: -80px;
    	 left: -30px;
    	 color: rgba(4,14,22,.83);;
    }


    #portfolio section:hover .overlay .description > * {
    	display: block;
    }

    #portfolio section:hover .overlay .heading {
    	position: absolute;
    	top: -60px;
    	transition: top .9s;
    }

    /* Media Queries */

    @media screen and (max-width: 300px) {
    	#portfolio [class^="col"] section {
    		width: 80%;
    		margin-right: auto;
    		margin-left: auto;
    		margin-bottom: 10px;
    		min-height: 400px;
    	}

    	#portfolio .overlay {
    		width: 100%;
    		height: auto;
    	}

    	#portfolio img {
    		width: 100%;
    		height: auto;
    	}

    	#portfolio section:hover .overlay .heading span {
    	 -webkit-transform: rotate(90deg);
    	 top: 70px;
    	 left: -240px;
    	 position: relative;
    	}
    }

    @media screen and (max-width: 300px) {
    	body {
    		font-size: 18px;
    		text-align: center;
    	}

      h2 {
        margin-top: 80px;
      }

    	input {
    		text-align: center;
    	}

    	#about img {
    		display: block;
    		margin: 0 auto;
    		width: 30%;
    	}

    	#about .info {
    		flex-direction: column-reverse;
    	}

    	#skill-set .skills {
    		margin-top: 20px;
    	}

    	form {
    		text-align: left;
    	}

    	#portfolio .description p {
    		margin-top: 40px;
    	}

    	#portfolio section {
    		font-size: 10px;
    	}

    	#portfolio .overlay > * {
    		font-size: 200%;
    	}

    	#portfolio p, h6 {
    		text-align: left;
    	}
    }

    @media screen and (max-width: 300px) {

    	#home nav {
    		width: inherit;
    	}

    	#about .signature {
    		float: none;
    	}

    	#portfolio h2 {
    		margin-bottom: 0;
    	}

    	#portfolio section img {
    		display: none;
    	}

    	#portfolio section {
    		width: 100%;
    	}

    	#portfolio .description > *  {
    		display: block;
    	}

    	#portfolio .description {
    		display: table-footer-group;
    	}

    	#portfolio .heading {
    		display: table-header-group;
    		font-size: 180%;
    		text-align: left;
    	}

    	#portfolio .overlay {
    		min-height: auto;
    		padding: 20px;
    	}

    	#portfolio .description {
    		top: 100px;
    		position: static;
    	}

    	#portfolio section {
    		min-height: auto;
    	}

    	#portfolio section:hover .overlay .heading {
    	 position: relative;
    	 top: -0px;
    	 color: white;
    	 -webkit-transition: none;
    	}

    	#portfolio .heading span {
    		display: none;
    	}
    }

    @media screen and (max-width: 300px) {

    	h1 {
    		font-size: 300%;
    	}

    	#about img {
    		width: 60%;
    	}

    	#skill-set #web-development-skills::before {
    		display: none;
    	}

    	#skill-set .skills {
    		width: 100%;
    		display: block;
    	}

    	#portfolio .overlay {
    		height: 70%;
    	}

    }

    #contact-form {
  max-width: 90%;
  margin: 0 auto;
}

label {
  font-weight: 400;
  cursor: pointer;
}

textarea,
input {
  border: none;
  outline: none;
  border-radius: 0;
  text-align: center;
  background: none;
  font-weight: 700;
  font-family: 'Lato', georgia;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  max-width: 90%;
  padding: 1rem;
  border: 2px dashed rgba(255, 255, 255, 0);
  box-sizing: border-box;
  cursor: text;
}

textarea {
  text-align: left;
  /* overflow:hidden; */

  resize: none;
  width: 90%;
  border-color: rgba(255, 255, 255, 0)
}

textarea:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px dashed rgba(255, 255, 255, 1);
}

textarea:focus:required:valid {
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

textarea:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

input {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

input:required,
textarea:required {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

input:focus {
  border-bottom: 2px dashed rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.2);
}

input:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

input:required:invalid {
  color: rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

:-moz-placeholder {
  /* Firefox 18- */

  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

::-moz-placeholder {
  /* Firefox 19+ */

  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

:-ms-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

.expanding {
  vertical-align: top;
}

.send-icn {
  fill: rgba(255, 255, 255, 1)
}

.send-icn:hover {
  fill: rgba(0, 0, 0, 1);
  cursor: pointer;
}

button {
  background: none;
  border: none;
  outline: none;
  margin: 2vmax;
}

button:hover small {
  opacity: 1;
}

small {
  display: block;
  opacity: 0;
}
