#home {
  background-image:url("../assets/world.jpeg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

#home:hover{
  background-image:url("../assets/world.gif");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

#home nav {
  margin: 0 auto;
  width: 700px;
  padding-top: 80px;
}

#home nav ul {
  overflow: hidden;
}

#home nav ul li {
  width: 25%;
}

#home nav a {
  padding: 16px;
  padding-right: 30px;
  display: table-cell;
}

#home nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 999;
  padding: 0;
  transition: background-color .8s;

}

#home nav.fixed ul {
    max-width: 700px;
  margin: 0 auto;
}

.overlay {
  background-color: rgba(4,14,22,.83);
  height: 100%;
  width: 100%;
  padding-bottom: 80px;
}

li {
  list-style: disc;
}

a {
  color: white;
}

a:focus {
  color: white;
  text-decoration: none;
}

a:hover{
  color:#F9083B;
}

#about::before {
  height: 0px;
  width: 0px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #131c23;
  margin: 0 auto;
  content: "";
  display: block;
}

#about .info {
  display: flex;
  flex-direction: row;
  background-color: #81724A;
  font-size: 16px;
}

#about h2 {
  font-family: Courier;
  text-align: center;
  color: #00FFCC;
  background-color: #000000;
}

#about h2::after {
  border-bottom: 2px dashed #918D8D;
}

#about p {
  line-height: 270%;
  font-size: 15px;
  text-align: justify;
  color: #2AEC04;
  background-color: #013040;
}

#portfolio {
  padding-bottom: 80px;
  background-image:url("../assets/world.gif");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

#portfolio .row {
  margin: 0px;
  box-sizing: border-box;
  padding: 0 60px;
}

#portfolio img {
  width: 100%;
}

h1 .logo:hover {
  font-size: 50px;
  font-family: Courier;
  width: 200px;
  margin-left: -20px;
  color:#F98108;
}

h1 {
  font-family: Courier;
  font-weight: normal;
  text-align: center;
  color: #00FFCC;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

h2 {
  font-size: 245%;
  margin-top: 140px;
}

h2:after {
  display: block;
  margin: 42px 0;
  content: "";
}

.author {
  color: #00FFCC;
  background-color: #000000;
  font-family: Courier;
  font-size: 70;
}

h3 {
  font-weight: bold;
  color: #00FFCC;
  background-color: #000000;
  font-family: Courier;
  font-size: 40px;
  text-align: center;
}

/* ELEMENTS */
.noir {
  display: block;
  background-color: black;
  padding: 18px;
  border: 3px solid white;
}

.vertical-list li {
  float: left;
}

.blue-border {
  border: 2px solid #114190;
}

.magenta-border {
  border: 2px solid #e11a61;
}

.purple-border {
  border: 2px solid #9d1098;
}

.red-border {
  border: 2px solid #9d102b;
}
/* END OF ELEMENTS */

#skill-set {
  margin-top: 80px;
  padding-bottom: 80px;
}

#skill-set ul {
  overflow: hidden;
}

#web-development-skills {
  background-color: #114190;
}

#automation-skills {
  background-color: #e11a61;
}

#misc-skills {
  background-color: #9d1098;
}

.skills {
  color: white;
}

.skills li {
  padding: 30px;
}

.jumbotron {
  background-image:url("../assets/image.gif");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

* {
  box-sizing: border-box;
  padding: 10;
  margin: 0;
  align-self: center;
}

.wrapper {
  overflow: hidden;
}

.wrapper div {
  padding: 15px;
}

#one #two #one2 {
  padding: 15px;
}

#one {
  background-color: #ACB2FD;
  float: left;
  width: 30%;
}

#two {
  background-color: #ACB2FD;
  float: left;
  width: 70%;
}

#greeting {
  color: #00FFCC;
  background-color: #000000;
  font-family: Courier;
  font-size: 70;
}

body > div {
		width: 500px;
		margin: 50px auto;
		text-align: center;
    font-size: 20px;
    font-family: Courier;
	}

	figure {
		margin: 0;
	}

	.container {
		width: 600px;
		height: 300px;
		text-align: left;
		margin: 60px auto;
		-webkit-perspective: 1000px;
		-webkit-perspective-origin: 50% -25%;
	}

		.carousel {
			-webkit-transform-style: preserve-3d;
			-webkit-transform: translateZ(-540px);
			position: relative;
			margin: 0;
			width: 400px;
			height: 500px;
			-webkit-transition: 1s;
		}

			.carousel img {
				position: absolute;
				border: 15px solid rgba(0, 0, 0, .8);
				opacity: .5;
				-webkit-transition: 1s;
        width: 300px;
        height: 500px;
        background:#ccc;
			}


				.carousel img:nth-child(1) { -webkit-transform: translateZ(540px) scale(.8); }
				.carousel img:nth-child(2) { -webkit-transform: rotateY(45deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(3) { -webkit-transform: rotateY(90deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(4) { -webkit-transform: rotateY(135deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(5) { -webkit-transform: rotateY(180deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(6) { -webkit-transform: rotateY(225deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(7) { -webkit-transform: rotateY(270deg) translateZ(540px) scale(.8); }
				.carousel img:nth-child(8) { -webkit-transform: rotateY(315deg) translateZ(540px) scale(.8); }

	label {
		cursor: pointer;
		background: #E99335;
		display: inline-block;
		border-radius: 50%;
		width: 30px;
		padding-top: 7px;
		height: 23px;
		font: .9em Courier;
	}

	label:hover {
		background: #ddd;
	}

	input {
		position: absolute;
		left: -9999px;
	}

	input:checked + label {
		font-weight: bold;
		background: #ddd;
	}

		input[value="1"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px); }
		input[value="2"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-45deg); }
		input[value="3"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-90deg); }
		input[value="4"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-135deg); }
		input[value="5"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-180deg); }
		input[value="6"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-225deg); }
		input[value="7"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-270deg); }
		input[value="8"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-315deg); }

		input[value="1"]:checked ~ .container .carousel img:nth-child(1) { -webkit-transform: translateZ(540px) scale(1); opacity: 1; }
		input[value="2"]:checked ~ .container .carousel img:nth-child(2) { -webkit-transform: rotateY(45deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="3"]:checked ~ .container .carousel img:nth-child(3) { -webkit-transform: rotateY(90deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="4"]:checked ~ .container .carousel img:nth-child(4) { -webkit-transform: rotateY(135deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="5"]:checked ~ .container .carousel img:nth-child(5) { -webkit-transform: rotateY(180deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="6"]:checked ~ .container .carousel img:nth-child(6) { -webkit-transform: rotateY(225deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="7"]:checked ~ .container .carousel img:nth-child(7) { -webkit-transform: rotateY(270deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="8"]:checked ~ .container .carousel img:nth-child(8) { -webkit-transform: rotateY(315deg) translateZ(540px) scale(1); opacity: 1; }


    h4 {
    	font-size: 92%;
    }

    h6 {
    	color: #F0F0F0;
    }



    .containers {
    	width: 520px;
    	margin: 20px auto;
    }

    .menu_btn {
    	font-family: helvetica;
    	width: 125px;
    	float: left;
    	margin-left: 5px;
    	&:first-child .dd_btn {
    		background: #f1c40f;
    		&:active {
    			background: #f39c12;
    		}
    	}
    	&:nth-child(2) .dd_btn {
    		background: #2ecc71;
    		&:active {
    			background: #27ae60;
    		}
    	}
    	&:nth-child(3) .dd_btn {
    		background: #3498db;
    		&:active {
    			background: #2980b9;
    		}
    	}
    	&:nth-child(4) .dd_btn {
    		background: #e74c3c;
    		&:active {
    			background: #c0392b;
    		}
    	}
    	.dd_btn {
    		height: 50px;
    		width: 125px;
    		color: #fff;
    		font-size: 18px;
    		border: 0px;
    		z-index: 3;
    		float: left;
    		cursor: pointer;
      	background-color:#E19E19;
    		&:active {
      		background-color:#946810;
    		}
    		&:focus {
    			outline: none;
    		}
    	}
    	.dd {
    		position: absolute;
    		width: 255px;
    		margin-top: 55px;
    		background: white;
    		text-align: center;
    		a {
    			width: 100%;
    			display: block;
    			height: 100%;
    			padding: 15px 0 15px 0;
    			text-decoration: none;
    			color: #666;
    			background: #f9f9f9;
    			&:hover {
    				background: #ecf0f1;
    			}
    			&:active {
    				background-color: #bdc3c7;
    				color: #fff;
    			}
    		}
    	}
    }

.cal{ display:inline-block; background:#ffe; color:#555; font-size:6px; text-align:center; transform:scale(1); transition:all 0.2s linear;}
.cal:hover{ transform:scale(2.5);transition:all 0.4s linear;}
.cal caption{ background:#d44; color:#eee; font-size:15px;}
.cal th{ color:#aaa;line-height:200%;}
.cal th:first-child{ color:#f00;}
.cal th:last-child{ color:#04d;}
.cal td{ padding:0 2px; line-height:100%;}
