@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: grey;
  }
  .column {
    width: 220px;
    float: left;
    padding: 15px;
  }
}

img {
  float: left;
}

.author {
  color: #00FFCC;
  background-color: #000000
}

p {
  color: #000066;
  font-family: "Courier New", Courier, monospace
}
